body {
    padding-top: 50px;
    background-color: #F0F0F0;
}

.bs-footer {
    background-color: #000;
    margin-top: 10px;
    height: 50px;
    padding-top: 10px;
    text-align: center;
}

.starter-template {
    padding: 40px 15px;
}

.langBox a {
    opacity: 0.5;
}

.langBox .active {
    opacity: 1;
}

.langBox img {
    height: 20px;
    width: 20px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #BDBDBD;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #ffffff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #E0E0E0;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #9d9d9d;
    background-color: #F5F5F5;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #9d9d9d;
    background-color: transparent;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #9d9d9d;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    color: #424242;
    background-color: #EEEEEE;
}

.divider {
    background-color: #E0E0E0 !important;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #424242;
    background-color: transparent;
}

.panelborder-right {
    border-right: 1.5px solid #ddd;
}

.panelborder-left {
    border-left: 1.5px solid #ddd;
}

.boxleft {
    border-top: 1px solid #ddd;
    margin-top: 15px;
    padding-top: 10px;
}

.searchboxs {
    text-align: center;;
}

.searchboxs select{
    width: 200px !important;
    height: 50px !important;
}
.searchboxs input{
    width: 400px !important;
    height: 50px !important;
}

.searchboxs button{
    width: 200px !important;
    height: 50px !important;
}

.marketmenuboxs{
    text-align: center;
    margin-top: 20px;
}

body
{
    /*background: url(../images/main-bg.jpg) no-repeat center;*/
    background-size: 100% 100%;
}

html, body {
    min-height: 100%;
}

.marketmenuboxs img{
    height: 157px;
    width: 100%;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
}

.text-muted {
    margin: 20px 0;
    color: #000;
    text-align: center;
}

.marketmenuboxs .thumbnail:hover{
   background-color: #F5F5F5;
}

.one{
    color: #000;
}

.faqHeader {
    font-size: 27px;
    margin-left: 20px;
    margin-top: 20px;
}

.faqContent{
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}

.btn-circle {
    width: 245px !important;
    height: 245px !important;
    text-align: center !important;
    padding: 75px 0 !important;
    font-size: 100px !important;
    line-height: 10.00 !important;
    border-radius: 150px !important;
}
